

<div class="employee-details">
    <table class="table table-dark">

        <tr>
            <td>Name </td>
            <td>{{ employee.Name}}</td>
        </tr>

        <tr>

            <td>
                Age
            </td>
            <td>
                {{employee.Age}}
            </td>
        </tr>

        <tr>
            <td> Email</td>
            <td> {{employee.Email}}</td>

        </tr>

        <tr>
            <td>Date of joining</td>
            <td> {{employee['Date of joining']}}</td>
        </tr>

        <tr>
            <td>Phone number</td>
            <td>{{employee['Phone number']}}</td>
        </tr>
        <tr>
            <td>
                Street
            </td>
            <td>
                {{employee.Street}}
            </td>
        </tr>

        <tr>
            <td>
                City
            </td>
            <td>
                {{employee.City}}
            </td>
        </tr>
        <tr>
            <td>
                Zip
            </td>
            <td>
                {{employee.Zip}}
            </td>
        </tr>
        <tr>
            <td>
                Region
            </td>
            <td>
                {{employee.Region}}
            </td>
        </tr>
        <tr>
            <td>
                Country
            </td>
            <td>
                {{employee.Country}}
            </td>
        </tr>
        <tr>
            <td>
                Info
            </td>
            <td>
                {{employee.Info}}
            </td>
        </tr>
        <tr>
            <td>
                EmployeeID
            </td>
            <td>
                {{employee.EmployeeID}}
            </td>
        </tr>



    </table>
</div>



<!-- <div align="center">
    <table class="table table-dark">

        <tr>
            <td>Name </td>
            <td>Bala</td>
        </tr>
        <tr>

            <td>
                id
            </td>
            <td>
                101
            </td>
        </tr>

        <tr>
            <td> Age</td>
            <td> 29</td>

        </tr>

        <tr>
            <td>phonenumber</td>
            <td>654684</td>
        </tr>

        <tr>
            <td>date of birth</td>
            <td> 2/8/90</td>
        </tr>


        <tr>
            <td>
                email
            </td>
            <td>bala23@hbj.com</td>
        </tr>

        <tr>
            <td>
                address
            </td>
            <td>
                525/5 2nd street UP - 4525
            </td>
        </tr>

        <tr>
            <td>
                country
            </td>
            <td>
                india
            </td>
        </tr>
        <tr>
            <td>
                state
            </td>
            <td>
                utterpradesh
            </td>
        </tr>
    </table>
</div>



<div align="center">
    <table class="table table-dark">

        <tr>
            <td>Name </td>
            <td>Chris</td>
        <tr>
            <td>
                id
            </td>
            <td>101</td>
        </tr>


        <tr>
            <td> Age</td>
            <td> 37</td>

        </tr>

        <tr>
            <td>phonenumber</td>
            <td>32258</td>
        </tr>

        <tr>
            <td>date of birth</td>
            <td> 2/12/78</td>
        </tr>



        <tr>
            <td>
                email
            </td>
            <td>Echris-65@yahoo.biz</td>
        </tr>

        <tr>
            <td>
                address
            </td>
            <td>
                75 4th avenue norway -60044787
            </td>
        </tr>

        <tr>
            <td>
                country
            </td>
            <td>
                usa
            </td>
        </tr>
        <tr>
            <td>
                state
            </td>
            <td>
                norway
            </td>
        </tr>
    </table>
</div> -->